//////////
// CUSTOM
//////////

singularity.enabled = true
singularity.autoMounts = true

process {
    // General configurations
    executor = 'slurm'
    
    singularity.pullTimeout = "3 hours"
    cpus = '32'
    time = '200.h'

    // Dynamic memory allocation with retry
    memory = { 256.GB * Math.pow(2, task.attempt - 1) }
    errorStrategy = { task.exitStatus in 137..140 ? 'retry' : 'ignore' }
    maxRetries = 3   
}

workflow {
    failOnIgnore = true
}

